#ie{

display:  !important;
position: absolute;
background: #757577;
height: 200%;
width: 100%;

}

div.aler {
	display: block;
	width: 500px;
	padding: 20px;
	font-weight: bold;
	margin: 0px auto;
	background: #111;
	color: fff;
	margin: 30px 0px 0px 25%;
	border: 5px solid #ccc;
}
h1 {
color: #ff8c04;
font-size: 22px;
margin: 0px 0px 20px 0px;
}

p {
font-size: 14px;
margin: 10px 0px 10px 0px;
color: #ccc;
}